# Node modules
node_modules/

# Cypress output
cypress/screenshots/
cypress/videos/
cypress/downloads/
cypress/reports/

# NYC output
.nyc_output/

# Logs
*.log

# OS files
.DS_Store

# Env files
.env
